.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.horizontal-bar {
  padding: 7px;
  height: 20px; 
  margin: 3px;
  background: #333;
  color: #fff;
  font-size: 12px;
  display: block;
  text-align: right;
}

.vertical-bar {
  padding: 7px;
  margin: 3px;
  background: #333;
  color: #fff;
  font-size: 12px;
  display: inline-block;
  text-align: right;
}